<ul class="grid" id="main-items-container">
  <li *ngFor="let item of LisTFile" class="main-item" [style.width]="WidthIem">
    <app-file [file]="item" (changFile)="OnchangeFile($event)"></app-file>
  </li>
</ul>
<div id="myModalViewFile" class="modal fade" role="dialog">
  <div class="modal-dialog full-custom">
    <!-- Modal content-->
    <div class="modal-content" *ngIf="file">
      <a type="button" class="close" data-dismiss="modal">&times;</a>
      <form id="save-edit" method="post" enctype="multipart/form-data">
        <input type="hidden" id="base64image" name="base64image">
        <!-- Modal content-->
        <div class="modal-body">
          <div id="content-edit-media">
            <div class="row">
              <div class="col-md-9">
                <div class="img-container">
                  <img id="image" src="http://weddingguu.com/uploads/c81e728d9d4c2f636f067f89cc14862c/5b909ea9bd698.jpg"
                    alt="Picture" class="cropper-hidden">
                </div>
              </div>
              <div class="col-md-3">
                <!-- <h3>Data:</h3> -->
                <div class="docs-data">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">X</span>
                    </div>
                    <input type="text" class="form-control" value="0" id="dataX" placeholder="x" readonly="">
                    <div class="input-group-append">
                      <span class="input-group-text">px</span>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Y</span>
                    </div>
                    <input type="text" class="form-control" value="0" id="dataY" placeholder="y" readonly="">
                    <div class="input-group-append">
                      <span class="input-group-text">px</span>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Width</span>
                    </div>
                    <input type="text" value="720" class="form-control" id="dataWidth" placeholder="width" readonly="">
                    <div class="input-group-append">
                      <span class="input-group-text">px</span>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Height</span>
                    </div>
                    <input type="text" value="1280" class="form-control" id="dataHeight" placeholder="height" readonly="">
                    <div class="input-group-append">
                      <span class="input-group-text">px</span>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Size</span>
                    </div>
                    <input type="text" value="95.17" class="form-control" id="dataSize" placeholder="Size" readonly="">
                    <div class="input-group-append">
                      <span class="input-group-text">kB</span>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Path</span>
                    </div>
                    <input type="text" class="form-control" value="/uploads/c81e728d9d4c2f636f067f89cc14862c/5b909ea9bd698.jpg"
                      readonly="">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Name</span>
                    </div>
                    <input type="text" class="form-control" id="media-name" value="78411DF0-84AE-4BA5-A15E-EAFD8CF7B19C.jpg"
                      placeholder="Enter media name">
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> 
      </form>
    </div>
  </div>
</div>
