<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="breadcrumb-component">
        <app-breadcrumb [file]="file" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
      </div>
    </div>
    <div class="col-md-6">
      <nav class="navbar navbar-default right text-right">
        <ul class="nav navbar-nav d-inline-block">
          <li class="active inline-block" *ngFor="let item of app.actions">
            <a [class]="item.class" [ngClass]="{
              'disbale': (app.MySeclect.length <= 0),
              'disbaleaction' : app.action.name != 'copy file' && app.action.name != 'cut file'
            }" (click) = "Actions_FNC(item)" class="btn-sm btn btn-default"><i class="mdi {{item.icon}}"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
