<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="breadcrumb-component">
        <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
      </div>
    </div>
    <div class="col-md-6">
      <nav class="navbar navbar-default right text-right">
        <ul class="nav navbar-nav d-inline-block">
          <li class="active inline-block" *ngFor="let action of actions">
            <a (click) = "Actions_FNC(action)" class="btn-sm btn btn-default"><i class="mdi {{action.icon}}"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
